<% layout("/layouts/boilerplate") %>

<div class="alert mt-3 alert-danger col-6 offset-3" role="alert">
 <h1>Error <%= statuscode %></h1>
  <p><%= message %></p>
  
  <a href="/listings">Go Back to Listings</a>
</div>